<div>
  <div class="modal-card">
    <label>
      分类
    </label>
    <d-cascader
      [options]="options"
      [(ngModel)]="data.pathPids"
      [dropdownPanelClass]="'custom-class'"
      [allowClear]="true"
      [canSelectParent]="true"
      class="form-input-box"
      (ngModelChange)="onChanges($event)"
      [showPath]="true"
    ></d-cascader>
  </div>
  <div class="modal-card mt-3">
    <label>
      名称
    </label>
    <input type="text" dTextInput class="form-input-box" name="name" [(ngModel)]="PostDictionary.entryName">
  </div>
  <div class="modal-card">
    <label>
    </label>
    <div class="invalid" *ngIf="data.display&&!PostDictionary.entryName">*值不能为空</div>
  </div>
  <div class="modal-card mt-3">
    <label>
      值
    </label>
    <input type="text" dTextInput class="form-input-box" name="name" [(ngModel)]="PostDictionary.entryValue">
  </div>
  <div class="modal-card">
    <label>
    </label>
    <div class="invalid" *ngIf="data.display&&!PostDictionary.entryValue">*值不能为空</div>
  </div>
  <div class="modal-card mt-3">
    <label>
      描述
    </label>
    <textarea  dTextarea class="form-input-box" name="description" [(ngModel)]="PostDictionary.description"></textarea>
  </div>
</div>

