<div class="da-header-fast">
  <div class="da-header-fast-content">
    <div class="da-header-fast-app">
      <div class="da-header-fast-item"><i class="icon icon-date"></i></div>
      <div class="mt-2">
        销售工作台
      </div>
    </div>
    <div class="da-header-fast-app">
      <div class="da-header-fast-item"><i class="icon icon-marketplace"></i></div>
      <div class="mt-2">
        采购工作台
      </div>
    </div>
    <div class="da-header-fast-app">
      <div class="da-header-fast-item"><i class="icon icon-homepage"></i></div>
      <div class="mt-2">
        仓库工作台
      </div>
    </div>
  </div>
  <div class="da-header-fast-content mt-3">
    <div class="da-header-fast-app">
      <div class="da-header-fast-item"><i class="icon-table icon"></i></div>
      <div class="mt-2">
        生产工作台
      </div>
    </div>
    <div class="da-header-fast-app">
      <div class="da-header-fast-item"><i class="icon icon-safe-setting"></i></div>
      <div class="mt-2">
        质量工作台
      </div>
    </div>
    <div class="da-header-fast-app">
      <div class="da-header-fast-item"><i class="icon icon-line-chart"></i></div>
      <div class="mt-2">
        看板工作台
      </div>
    </div>
  </div>
</div>
